<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moroccan History Hub</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src=".../static/assets/saadi-flag.svg" alt="Logo">
                <h1>Moroccan History Hub</h1> 
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="../about.html">ABOUT</a></li>
                <li><a href="#">ARTICLES</a></li>
            </ul>
        </nav>
        <img src=".../static/assets/work-in-progress.jpg">
        <h1>Sorry, this page is still under construction</h1>
        <h2>Work in progress, you can go away</h2>
        <footer>
            <div class="social-icons">
                <a href="#" aria-label="Facebook"><img src=".../static/assets/facebook-logo.png"></a>
                <a href="#" aria-label="YouTube"><img src=".../static/assets/youtube-logo.png"></a>
            </div>
            <div class="credits">
                Moroccan History Hub, 2024.
            </div>
        </footer>
    </body>
</html>