<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moroccan History Hub</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
    
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src="../assets/saadi-flag.svg" alt="Logo">
                <h1>Moroccan History Hub</h1> 
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('index')}}">HOME</a></li>
                <li><a href="../about.html">ABOUT</a></li>
                <li><a href="#">ARTICLES</a></li>
            </ul>
        </nav>
        <div class="articletxt">
            <div class="main-article">
                <h2 id="title">Precolonial collaborators with European colonial authorities</h2>
                <h3 id="author">Samy Y.</h3>
                <p id="tags">Colonialism,Imperialism,Collaboration,19th century</p>
                <p id="preview">In the 19th century, agriculture in Morocco underwent significant changes, marked by increased irrigation efforts, crop diversification, and the introduction of new farming practices. Despite facing challenges such as droughts, civil wars and limited transportation, it continued to evolve up until the advent of the French Protectorate in 1912...</p>
                <img id="article-thumbnail" src="../../static/assets/articles/collaboration.jpg">
                <p>Test Article</p>
                <h3>Sources:</h3>
                <li>Source 1</li>
            </div>
        </div>
        <footer>
            <div class="social-icons">
                <a href="#" aria-label="Facebook"><img src="../assets/facebook-logo.png"></a>
                <a href="#" aria-label="YouTube"><img src="../assets/youtube-logo.png"></a>
            </div>
            <div class="credits">
                Moroccan History Hub, 2024.
            </div>
        </footer>
    </body>
</html>