@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

h1 {
    font-weight: 300;
    font-family: 'DM Serif Display',serif;
}

nav {
    font-family: 'DM Serif Display',serif;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #333, #313131);
    padding: 1rem;
    color: #fff;
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.logo h1 {
    font-family: 'DM Serif Display','Garamond',serif;
}
  
.logo img {
    height: 40px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links img {
    margin-left:1.5vh;
    height:2.5vh;
}

.nav-links img:hover {
    transform:scale(1.1);
    transition:0.1s;
}


.nav-links li {
    margin-right: 20px;
    font-size:20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding:10%;
    transition: 0.2s;
}

.nav-links a:hover {
    background-color: #ffffff;
    color:#333;
    transition: 0.2s
}

.main-menu h1{
    text-align: center;
    font-size:80px;
    display:block;
    margin: auto;
    color:white;
    margin-top: -350px;
}

.welcome img{
    height: 500px;
    width: 100%;
    object-fit: none;
    object-position: center;
}

.welcome h1 {
    font-family: 'DM Serif Display',serif;
    padding: 10px;
    border-radius: 3vh;
    background-color: #3333336c;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size:60px;
    color: white;
    user-select: none;
    transition: 0.2s;
    animation: MoveDown 0.75s;
    animation-timing-function: ease-out;
}

@keyframes MoveDown{
    from{
        top:20%;
        opacity: 0%;

    }
    to{
        top:50%;
        opacity: 100%;
    }
}

.welcome h1:hover {
    transition: 0.2s;
    transform: translate(-47.5%,-50%);
    scale: 1.05;
}

.books{
    display:block;
    margin:auto;
}

.books hr{
    display:block;
    margin:auto;
    width:81%
}

.books h1{
    text-align:center;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.grid-books {
    text-align:center;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inv-book{
    background-image: linear-gradient(to bottom, white, #f8f8f8);
    width:45vh;
    border-radius: 20px;
    margin:15px;
    padding: 10px;
    box-shadow: 0px 5px 0px 5px #00000018;
    transition:0.1s;
    border: 1px solid #e4e4e4
}

.inv-book img{
    height:300px;
    width:100%;
    object-fit: none;
}

.inv-book h3{
    color:brown;
    font-family: "DM Serif Display",sans-serif;
    font-size:25px;
}

.inv-book-info{
    font-family: 'Lora',serif;
    height:120px;
}

.inv-book:hover{
    transform:scale(1.025);
    transition:0.1s;
}

.read {
    font-family: 'DM Serif Display',serif;
    border:none;
    width:70%;
    background-color: #3d35a7;
    border-radius:10px;
    font-size:20px;
    color:white;
    padding:10px;
    box-shadow: 0 5px 0px 0px #2f2983;
    transition:0.2s;
    margin-bottom:10px;
}
.read:hover {
    background-color: #4b41ce;
    transition:0.1s;
}

.read:active{
    transform:translateY(5px);
    box-shadow: 0 0px 0px 0px #2f2983;
    transition:0.1s;
}

.articles{
    display:block;
    margin:auto;
    width:81%
}

.articles h1{
    text-align:center;
    font-size: 40px;
}

.article-box{
    display:flex;
    margin-top: 5vh;
    box-shadow: 0px 0px 0px 10px #00000018;
    transition: 0.1s;
}

.article-box:hover {
    transition: 0.1s;
    transform: scale(1.025);
}

.article-box img{
    min-width: 50vh;
    height:60vh;
    object-fit: cover;
}

.article-cnt{
    font-family: 'Lora','DM Serif Display', serif;
    display:block;
    margin:auto;
    margin-right: 5vh;
    margin-left: 5vh;
}

.article-cnt h2{
    font-family: 'DM Serif Display','Lora', serif;
    font-weight: 700;
}

.article-read {
    font-family: 'DM Serif Display',serif;
    border:none;
    width:30%;
    background-color: #333;
    border-radius:10px;
    font-size:20px;
    color:white;
    padding:10px;
    transition:0.2s;
    margin-bottom:10px;
}

.article-read:hover {
    background-color: #8d8d8d;
    transition:0.2s;
}

.article-read:active {
    transform: scale(0.95);
    transition:0.1s;
}


.tags {
    display: inline-flex;
    gap:2vh;
    margin-bottom:-2vh;
}

.tags h3{
    font-style: italic;
    background-color:#4b41ce;
    padding:0.75vh;
    border-radius:1vh;
    color:white;
}

.tags h3:hover{
    transform:scale(1.05);
    transition:0.1s;
}

.article-cnt h4{
    color:brown;
    margin-top:-2vh;
}

.article-cnt a {
    text-decoration: none;
    color:black;
    transition:0.1s;
}

.article-cnt a:hover{
    color: brown;
    text-decoration: underline;
    transition: 0.2s;
}

.more-articles {
    font-family: 'DM Serif Display',serif;
    background-color: #3d35a7;
    color:white;
    display: block;
    margin: auto;
    font-size: 3vh;
    padding: 20px;
    border:none;
    border-radius: 2vh;
    margin-top:5vh;
    box-shadow: 0px 2px 2px 0px #3333336c;
    transition: 0.1s;
}

.more-articles:hover {
    background-color: #4b41ce;
    transition: 0.1s;
}

footer {
    margin-top:5vh;
    font-family: 'Lora',serif;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-icons {
    display:inline-flex;
    gap:3vh;
    margin: 10px 0;
}

footer .social-icons img {
    height:5vh;
}

footer .credits {
    margin: 10px 0;
    font-size: 3vh;
    font-style:italic;
}

footer a:hover {
    color: #ffa500;
}

.articletxt {
    width:70%;
    margin:auto;
}

.infobox {
    font-family: 'DM Serif Display',serif;
    display:block;
    margin:auto;
    border: solid #d50000;
    border-width: 0px 0px 0px 5px;
    background-color: #ffe0e0;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

.infobox a {
    text-decoration:none;
    color:#3d35a7;
}

.main-article{
    font-family: 'EB Garamond',serif;
}

.main-article p {
    text-indent: 6vh;
    font-weight: 400;
    font-size: 3vh;
}

.main-article h2{
    font-size:5vh;
    color:#3d35a7
}

