<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
    <title>Admin Panel</title>
    
    
    </head>
    <body>
        <header class="admin-header">
            <h1>Admin Panel</h1>
        </header>
        <div class="create">
            <a href="{{url_for('create')}}"><button>✍ New article</button></a>
            <a href=""><button>📝 Edit articles</button></a>
            <a href=""><button>🛠️ Manage articles</button></a>
        </div>
    
    
    </body>
</html>