<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
    <title>New Article</title>
    
    
    </head>
    <body>
        <h1>Create New Article</h1> 
        <textarea id="title-input" placeholder="Title"></textarea>
        <textarea id="author-input" placeholder="Author"></textarea>
        <textarea id="tags-input" placeholder="Tags">a,b,c,d</textarea>
        <textarea id="img-input" placeholder="Image">/static/assets/</textarea>
        <textarea id="content-input" placeholder="Content"></textarea>
    </body>
</html>