<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
    <title>New Article</title>
    
    
    </head>
    <body>
        <h1 style="text-align: center;">Write a new article</h1>
        <form method = "POST" autocomplete="off">
            <div class="write-article">
                <textarea type="text" name="title-input" placeholder="Title"></textarea>
                <textarea type="text" name="author-input" placeholder="Author"></textarea>
                <textarea type="text" name="tags-input" placeholder="Tags (a,b,c,d...)"></textarea>
                <textarea type="text" name="img-input" placeholder="Image (/static/assets)"></textarea>
                <textarea type="text" name="preview-input" placeholder="Preview"></textarea>
                <textarea type="text" name="content-input" id="cnt" placeholder="Content"></textarea>
            </div>
            <div class="ctrlbtns">
                <input type="submit" name="action" value="📥 Save as Draft"></input>
                <input type="submit" name="action" value="🗞️ Publish"></input>
                <input type="submit" name="action" value="🗑️ Delete"></button>
                <a href="{{url_for('admin')}}"><button>🏠 Return Home</button></a>
            </div>
        </form>
    </body>
</html>